@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
   --azul-escuro: #084154;
   --azul-claro: #3EC6E0;
   --prata: #EBEBEB;
   --branco: #FFF;
   width: 100vh
}

body {
   font-family: 'Roboto', sans-serif;
   position: relative;
}

.container {
   width: 100vw;
}