@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
   --azul-escuro: #084154;
   --azul-claro: #3EC6E0;
   --prata: #EBEBEB;
   --cinza: #F5F5F5;
   --branco: #FFF;
}

body {
   font-family: 'Roboto', sans-serif;
}

#root {
   display: block;
   flex-direction: column;
   height: 200vh;
   margin: 0;
   width: 100vw;
}