.cabecalho {
   position: absolute;
   top: 44px;
   align-items: center;
   display: flex;
   justify-content: center;
   width: 100vw;
   z-index: 2;
}

.cabecalho__conteudo {
   align-items: center;
   background-color: transparent;
   display: flex;
   justify-content: space-between;
   flex-grow: 1;
   margin: 0 10rem;
   /* justify-content: space-between;
   width: 70%; */
}