.menu {
   align-items: center;
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
   list-style: none;
   margin: 0;
   height: 26px;
   width: 50%;
}

.menu__link {
   align-items: center;
   border-right: 1px solid var(--branco);
   color: var(--branco);
   display: flex;
   flex-grow: 1;
   justify-content: center;
   text-decoration: none;
}

.menu__item {
   align-items: center;
   display: flex;
   font-size: 0.78rem;
   justify-content: center;
   line-height: 0.6rem;
   text-align: center;
   text-transform: uppercase;
}

/* .menu__item {
   
   font-size: 0.8rem;
   
   text-align: center;
   text-transform: uppercase;
} */

.menu__link--ultimo {
   border-right: none;
}

.menu__item__imagem {
   display: inline-block;
   padding-right: 0.5rem;
   width: 1.5rem;
}

.menu__item__contador {
   align-items: center;
   background: var(--azul-claro);
   border-radius: 100%;
   display: flex;
   font-size: 14px;
   font-weight: 900;
   justify-content: center;
   height: 23px;
   vertical-align: middle;
   width: 23px;
}